In [16]:
pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\programdata\anaconda3\lib\site-packages (8.0.30)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\programdata\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)
Note: you may need to restart the kernel to use updated packages.

In [57]:
import mysql.connector
from mysql.connector import Error
import pandas as pd
import getpass
password = getpass.getpass()

········

In [58]:
try:
    connection = mysql.connector.connect(host='localhost',
                                    database='sakila',
                                    user='root',
                                    password=password)
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connected to MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("You're connected to database: ", record)

except Error as e:
    print("Error while connecting to MySQL", e)
        
cursor = connection.cursor()

Connected to MySQL Server version  8.0.30
You're connected to database:  ('sakila',)

In [52]:
# copying rental to rentals_may

sql_create_table = """
USE sakila;
DROP TABLE IF EXISTS rentals_may;
CREATE TABLE rentals_may
AS SELECT * FROM rental;
"""

for result in cursor.execute(sql_create_table, multi=True):
    pass

In [50]:
# filtering values only for the month of May

sql_filter = """
ALTER TABLE rentals_may ADD COLUMN rental_month VARCHAR(3);
UPDATE rentals_may SET rental_month = substring(rental_date, 6, 2);
DELETE FROM rentals_may where rental_month != '05';
"""

for result in cursor.execute(sql_filter, multi=True):
    pass

In [ ]:
# copying rental to rentals_june

sql_create_table = """
USE sakila;
DROP TABLE IF EXISTS rentals_june;
CREATE TABLE rentals_june
AS SELECT * FROM rental;
"""

for result in cursor.execute(sql_create_table, multi=True):
    pass

In [56]:
# filtering values only for the month of June

sql_filter = """
ALTER TABLE rentals_june ADD COLUMN rental_month VARCHAR(3);
UPDATE rentals_june SET rental_month = substring(rental_date, 6, 2);
DELETE FROM rentals_june where rental_month != '06';
"""

for result in cursor.execute(sql_filter, multi=True):
    pass